{% extends "base.html" %}
{% block additionalstyles %}{% endblock %}
{% block content %}

 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lambdalog! Explore into the endless logfile jungle">
    
    <title> Lambdalog</title>


    <!-- Custom styles for this template -->

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
	<script type="text/javascript" src="/static/js1/modernizr-2.6.2.min.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:['corechart', 'bar']});
</script>
<div id="headerwrap" id="home" name="home"  no-repeat center top; ">
<header class="clearfix">
	<h1><span class="icon icon-shield"></span></h1>
	
</header>
</div><!-- /headerwrap -->
<!-- ==== GREYWRAP ==== -->
<body>
<div class="container" id="about" name="about">
	<div class="row white">
		<br>
		<br>
		<br>
		<h1 class="centered">Hello, we are team LambdaLog:)</h1>
		<hr>
		
		<div class="col-lg-6">
			<p>As people living in the so-called “Information Age”, we have access to an immense number of resources at our disposal. And most of us happen to use this to find what we need. </p>
			</div><!-- col-lg-6 -->
			
			<div class="col-lg-6">
				<p>Everything from diagnosing your own disease to American politics to cute cat videos, it can be found with a click of a button. Now imagine looking for a cute cat video without Google. Or looking for a keyword in this.</p>
				</div><!-- col-lg-6 -->
	</div><!-- row -->
</div><!-- container -->
				
				<!-- ==== SECTION DIVIDER1 -->
				
				
				<!-- ==== SERVICES ==== -->
<div class="container" id="services" name="services">
	<br>
	<br>
	<div class="row">
		<h2 class="centered">Log File jungle exploring.</h2>
		<hr>
		<br>
		<div class="col-lg-offset-2 col-lg-8">
			<p>And the problem that we face now is exactly what Cisco ran into when changing their storage system for these files.
			</p>
			<p>While technologies exist for log file searching, it defeated Cisco’s purpose of moving to Amazon’s storage system. Cost. Amazon’s search system called Athena charges around $5 per each click. Imagine paying $5 for every Google search you make!Not only is it not cost efficient, it is slow and unorganized. New data is coming in constantly and Athena can’t keep up. This means every time a new log file comes in, Athena needs to update, which makes the search slow.</p>
	</div><!-- col-lg -->
</div><!-- row -->


<!-- ==== SECTION DIVIDER4 ==== -->

<section id="team" class="team">
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
				<h2>Meet Our Team</h2>
				<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
			</div>
			
			<!-- single member -->
			<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
				<div class="member-thumb">
					<img src="/static/images/img/team/member-2.png" alt="Team Member" class="img-responsive">
					<figcaption class="overlay">
					<h5>Manager in Nov. </h5>
					<p>Computer lover</p>
					<ul class="social-links text-center">
						<li><a href="https://www.facebook.com/nguyenvu.nguyen.12"><i class="fa fa-facebook fa-lg"></i></a></li>
					</ul>
					</figcaption>
				</div>
				<h4>Nguyen-Vu Nguyen</h4>
				<span>API Gateway, UI developer</span>
			</figure>
			<!-- end single member -->
      
      <!-- single member -->
<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
	<div class="member-thumb">
		<img src="/static/images/img/team/member-3.png" alt="Team Member" class="img-responsive">
		<figcaption class="overlay">
		<h5>Manage in Sep. </h5>
		<p>Computer lover</p>
		<ul class="social-links text-center">
			<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
		</ul>
		</figcaption>
	</div>
	<h4>Soo Kim</h4>
	<span>Backend developer</span>
</figure>
<!-- end single member -->

<!-- single member -->
<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
	<div class="member-thumb">
		<img src="/static/images/img/team/member-1.png" alt="Team Member" class="img-responsive">
		<figcaption class="overlay">
		<h5>Manager in Oct.</h5>
		<p>Computer lover</p>
		<ul class="social-links text-center">
			<li><a href="https://www.facebook.com/ruiheng.zhang.1"><i class="fa fa-facebook fa-lg"></i></a></li>
		</ul>
		</figcaption>
	</div>
	<h4>RuiHeng Zhang</h4>
	<span>Frontend developer</span>
</figure>
<!-- end single member -->

</div>
</div>
</section>
<!-- ==== BLOG ==== -->
<div class="container" id="blog" name="blog">
<br>
<div class="row">
<br>
<h1 class="centered">WE ARE STORYTELLERS</h1>
<hr>
<br>
<br>
</div><!-- /row -->

<div class="row">
<div class="col-lg-6 blog-bg">
	<div class="col-lg-4 centered">
		<br>
	</div>
	<div class="col-lg-8 blog-content">
		<h2>We create Lambdalog!</h2>
		<p>We knew we could create something with the basic functionality of Athena, but make it more cost-effective and specialize it to log files and organize the storage.</p>
		<p>It has a simple box to enter a keyword and an option to specify the type of logs to search and the date and time. After running a query, the application presents a table of the search results separated by different sections.</p>
		
		<br>
	</div>
	</div><!-- /col -->
	
	<div class="col-lg-6 blog-bg">
		<div class="col-lg-4 centered">
			<br>
		</div>
		<div class="col-lg-8 blog-content">
			<h2>Why choose Lambdalog?</h2>
			<br>
			<p>LambdaLog is cost efficient because it utilizes the Amazon service Lambda, which is free for the first million queries per month. Also, LambdaLog monitors new data coming into the storage system so that updates are not required. </p>
			
			<br>
		</div>
		</div><!-- /col -->
		</div><!-- /row -->
		<br>
		<br>
		</div><!-- /container -->
		
		<!-- ==== SECTION DIVIDER6 ==== -->
<section class="section-divider textdivider divider6">
	<div class="container">
		<h1>CRAFTED IN Denver, Colorado.</h1>
		<hr>
		<p>University of Colorado, Denver,</p>
		<p>Cisco</p>
		</div><!-- container -->
		</section><!-- section -->
		
		<div class="container" id="contact" name="contact">
			<div class="row">
				<br>
				<h1 class="centered">THANKS FOR READING</h1>
				<hr>
				<br>
				<br>
			</div>
		</div>
		

  </body>
{{ chart.as_html }}


{% endblock %}